* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 20px;
}

body {
    width: 100%;
    height: 100vh;
    background-color: #c0c0c0;
}

main {
    width: 50%;
    margin: 0 auto;
}

section {
    margin: 2rem 0;
}

section > h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
}

section > article > p:not(:first-child) {
    margin-top: 1rem;
}

.negrita {
    font-weight: bold;
}

.italica {
    font-style: italic;
}
