* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("../imagenes/contacto.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.contenedor {
    width: 100%;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
        "header header header"
        "formulario formulario formulario"
        "footer footer footer";
}

header {
    grid-area: header;
}

.titulo {
    float: left;
    width: 50%;
}

h1 {
    margin-left: 20px;
}

nav {
    float: right;
    width: 50%;
}

ul {
    width: 100%;
}

li {
    display: inline-block;
}

.formulario {
    grid-area: formulario;
}

.footer {
    grid-area: footer;
}
