* {
    margin: 0;
    padding: 0;
    font-family: "Times New Roman", Times, serif;
}

body {
    background-color: #4e3072;
}

.contenedor {
    width: 100%;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, auto);
    grid-template-areas:
        "nav nav nav"
        "header header header"
        "section1 section1 section1"
        "section2 section2 section2"
        "contacto contacto contacto"
        "footer footer footer";
}

nav {
    width: 100%;
    grid-area: nav;
    position: fixed;
    text-align: center;
}

ul {
    width: 100%;
}

li {
    display: inline-block;
    margin-right: 30px;
    margin-top: 30px;
}

a {
    text-decoration: none;
    color: black;
    font-weight: bolder;
}

header {
    width: 100%;
    grid-area: header;
    height: 600px;
}

.fondo {
    position: absolute;
    width: 1250px;
    height: 600px;
    z-index: -1;
    margin-left: 30px;
}

.titulo {
    background-color: rgb(52, 58, 64, 0.8);
    text-align: center;
    margin-top: 250px;
    margin-left: 250px;
    margin-right: 300px;
    height: 100px;
}

h1 {
    font-size: 50px;
    color: blanchedalmond;
}

.subtitulo {
    color: blanchedalmond;
}

.section1 {
    grid-area: section1;
    margin-right: 50px;
    height: 400px;
    margin-top: 40px;
}

.imagen1 {
    float: left;
    width: 500px;
    margin-left: 40px;
}

.s1 {
    background-color: rgb(255, 193, 7);
    margin-top: 50px;
    height: 200px;
    margin-left: 500px;
    margin-right: 5px;
    border-radius: 10px;
    border: 2px solid black;
}

.titulo2 {
    text-align: center;
    width: 100%;
    font-size: 50px;
    color: #343a40;
}

.pastel_descripcion {
    margin-right: 20px;
    margin-left: 70px;
    margin-top: 10px;
    text-align: justify;
    color: #343a40;
}

.img1 {
    width: 100%;
    border-radius: 10px;
    border: 2px solid black;
}

.section2 {
    grid-area: section2;
    margin-right: 50px;
    height: 500px;
    margin-top: 40px;
}

.imagen2 {
    float: left;
    width: 500px;
    margin-left: 40px;
}

.s2 {
    background-color: rgb(255, 193, 7);
    margin-top: 50px;
    height: 200px;
    margin-left: 500px;
    margin-right: 5px;
    border-radius: 10px;
    border: 2px solid black;
}

.titulo3 {
    text-align: center;
    width: 100%;
    font-size: 50px;
    color: #343a40;
}

.leches_descripcion {
    margin-right: 20px;
    margin-left: 70px;
    margin-top: 10px;
    text-align: justify;
    color: #343a40;
}

.img2 {
    width: 100%;
    border-radius: 10px;
    border: 2px solid black;
}

.contacto {
    grid-area: contacto;
    width: 100%;
}

.sobre {
    float: left;
    margin-left: 70px;
    background-color: rgb(255, 193, 7);
    width: 500px;
    height: 500px;
    border: 2px solid black;
    border-radius: 10px;
}

.contact {
    margin-left: 50%;
    margin-right: 50px;
    background-color: rgb(255, 193, 7);
    width: 500px;
    height: 500px;
    border: 2px solid black;
    border-radius: 10px;
}

.sobre2 {
    margin-top: 30px;
    font-size: 30px;
    text-align: center;
}

.info {
    padding-top: 30px;
    font-size: 30px;
    text-align: center;
}

.info-img {
    width: 100%;
    margin-top: 60px;
    margin-left: 40px;
}

.sobreimg {
    width: 300px;
    margin-left: 50px;
}

.llamaimg {
    width: 100%;
}

.llamadaimg {
    width: 300px;
    margin-top: 60px;
    margin-left: 90px;
}

footer {
    grid-area: footer;
    height: 100px;
    text-align: center;
    font-size: 30px;
}

.final {
    margin-top: 30px;
}
