* {
  margin: 0;
  padding: 0;
  font-family: cursive;
}

body {
  background-color: #fff5da;
}

.contenedor {
  width: 100%;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, auto);
  grid-template-areas: "nav nav nav" "header header header" "article1 article1 article1" "article2 article2 article2" "footer footer footer";
}

nav {
  grid-area: nav;
  height: 60px;
  background-color: #5d534a;
}

ul {
  width: 100%;
  text-align: right;
}

li {
  display: inline-block;
  margin: 20px;
  border-bottom: 2px solid black;
  height: 39px;
}

a {
  color: black;
  font-weight: bolder;
  text-decoration: none;
}

header {
  grid-area: header;
  height: 700px;
  border-bottom: 2px solid rgb(214, 210, 196);
}

.fondo {
  position: absolute;
  z-index: -1;
  width: 1200px;
  height: 650px;
  margin-left: 50px;
}

.titulo {
  margin-top: 200px;
  text-align: center;
  height: 100px;
  margin-left: 200px;
  margin-right: 200px;
  background-color: rgba(214, 210, 196, 0.8);
}

h1 {
  padding-top: 20px;
  margin-top: 250px;
  font-size: 50px;
}

.contenido1 {
  grid-area: article1;
  margin-top: 20px;
  width: 100%;
  height: 800px;
}

.cont1 {
  width: 800px;
  height: 400px;
  border-radius: 100px;
  margin-left: 50px;
}

.titulo2 {
  width: 100%;
  height: 100px;
  text-align: center;
  font-size: 50px;
}

.a1 {
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 10px;
}

.somos {
  margin-top: 20px;
  text-align: justify;
  font-size: 20px;
}

.contenido2 {
  grid-area: article2;
  margin-top: 20px;
  width: 100%;
  height: 800px;
}

.cont2 {
  width: 800px;
  height: 400px;
  border-radius: 100px;
  margin-left: 50px;
}

.titulo3 {
  width: 100%;
  height: 100px;
  text-align: center;
  font-size: 50px;
}

.a2 {
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 10px;
}

.proveedor {
  margin-top: 20px;
  text-align: justify;
  font-size: 20px;
}

footer {
  grid-area: footer;
  height: 100%;
}

.final {
  width: 100%;
  margin-top: 50px;
  text-align: center;
}
