* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #e0e0e0;
    width: 100%;
    height: 100vh;
    display: grid;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    margin-bottom: 2rem;
}

table {
    border-collapse: collapse;

    & th,
    & td {
        border: 1px solid gray;
        padding: 0.5rem;
    }
}

img {
    width: 100px;
    height: 100px;
}

.compra {
    display: flex;
    gap: 0.5rem;
}

.tachado {
    text-decoration: line-through;
}

.negrita {
    font-weight: bold;
}
