* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background-color: #e0e0e0;
    display: grid;
    align-content: center;
    justify-content: center;
}

main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    fieldset {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        & input[type="number"] {
            width: 5rem;
        }

        & select[multiple] {
            height: 8rem;
        }

        & .row {
            display: flex;
            gap: 1rem;
        }

        & .col {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
    }
}
