* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: #c0c0c0;
}

table {
    font-size: 1.5rem;
    border-collapse: collapse;

    & th,
    & td {
        padding: 0.5rem 1rem;
        border: 2px solid black;
    }

    & th {
        background-color: #a0a0a0;
    }
}
