* {
    margin: 0;
    padding: 0;
}

html {
    font-family: monospace;
    font-size: 18px;
}

body {
    background-color: black;
    width: 100%;
    height: 100vh;
    display: grid;
    align-items: center;
    justify-items: center;
}

.contenedor {
    width: 80%;
    height: 80%;
    background-color: burlywood;
    display: grid;
    align-items: center;
    justify-items: center;
    border-radius: 1rem;
}

form {
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.titulo {
    font-size: 3rem;
    font-weight: bolder;
    text-align: center;
}

form > div {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

input {
    background: none;
    outline: none;
    border: none;
    border-bottom: 2px solid black;
    padding: 0.5rem;
}

button {
    background: none;
    padding: 0.5rem;
    border: 2px solid black;
    border-radius: 0.5rem;
}
