* {
    margin: 0;
    padding: 0;
}

html {
    font-family: monospace;
    font-size: 18px;
}

body {
    width: 100%;
    height: 100vh;
    background-color: black;
    display: grid;
    align-items: center;
    justify-items: center;
}

.container {
    background-color: burlywood;
    width: 90%;
    height: 90%;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

h2 {
    width: 80%;
    text-align: center;
}
